*.tags
*.pyc
tags
*.json
*.bat
*.txt
*~
perl/doc/*.html
perl/doc/*.css
perl/doc/*.aux
perl/doc/*.dvi
perl/doc/*.idv
perl/doc/*.4ct
perl/doc/*.4tc
perl/doc/*.lg
perl/doc/*.log
perl/doc/*.mw
perl/doc/*.out.ps
perl/doc/mod.tex
perl/doc/*.tmp
perl/doc/*.xref
perl/doc/*.idx
