
/*https://davidetriso.github.io/aria-dropdown/*/

.dropdown__menu ul li {
    margin: 0;
    font-size: 0.8rem;
    text-align: left;
}

.dropdown__menu ul li span {
    padding: 0.4rem 0.8rem;
    display: block;
    text-align: left;
}

.dropdown__menu ul li:hover {
    background-color: #f7f6f6;
}

.dropdown_nested {
    padding: 0.4rem 0.8rem;
}

.btn {
      /*display: block;*/
      /*max-width: 300px;*/
      max-width: auto;
      text-align: left;
      text-decoration: none;
      background-color: #6216c9;
      color: #fff;
      /*padding: 5px;*/
      border-radius: 5px;
      border: 1px solid #510cad;
      /*margin: 250px auto;*/
}

.btn:hover,
.btn:focus {
    background-color: #510cad;
}

.btn:active {
    background-color: #6216c9;
}
