snippet t
	set tags <++>
snippet u
	set url <++>
snippet r
	set redo 1
	setlist acts
		db_update
snippet t
	set tags <++>
snippet o
	setlist opts
snippet tt
	set title <++>
snippet dp
	set depth <++>
snippet d
	set date <++>
snippet a
	setlist acts
		fetch
		get_img
		db_update
		no_img
		<++>
		<++>
		<++>
snippet p
	page
	set url <++>
	set tags <++>
snippet f
	set fail <++>
	set fail_desc <++>
