
body {
  /*width: 700px;*/
}

html {
    min-height: 100%;
    position: relative;
}

textarea
{
   font-family : "Times New Roman", Times, serif;
   font-size   : 20px;
}

.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
* html .ui-autocomplete {
    height: 300px;
}

.flex-container {
    display: flex;
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    flex: row;
    justify-content: space-between;
}

.bs_date_item {
  background-color: gray;
  color: white;
}

.flex-row {
    width: 100%;
    height: 50px;
    background: tomato;
    /*position: fixed;*/
    display: flex;
    text-align: center;
}


.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #4CAF50;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.block:hover {
  background-color: #ddd;
  color: black;
} 

.flex-left {
    /*top: -200px;*/
    width: 50%;
    height: 700px;
    /*margin-top: 100px;*/
    border: 2px solid red;
    /*overflow: scroll;*/
    /*height: 50%;*/
    /*overflow-y: scroll;*/
    /*overflow-x: scroll;*/
    /*overflow-x: auto;*/
    overflow-y: scroll;
}

.flex-right {
    width: 50%;
    height: 700px;
    /*margin-top: 100px;*/
    overflow-y: scroll;
    /*overflow-x: scroll;*/
}


.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown__collapse {
  background-color: #fff;
  border: 0.1rem solid #dddddd;
  position: absolute;
  min-width: 10rem;
  padding: 0.5rem;
  z-index: 999;
}

.dropdown__collapse_center {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.dropdown__collapse_right { right: 0; }

