
<table>
{
   for my $row (@rows){
     $OUT .= '<tr>';
     for my $col (@cols){
        $OUT .= '<td>';
        if ($col eq 'urls'){}
        else{
            $OUT .= $row->{$col};
        }
        $OUT .= '</td>';
     }
     $OUT .= '</tr>';
   }
}
</table>
