<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$title}</title>
    <!--<link rel="stylesheet" href="/prj/assets/css/ctl/form.flex.css">-->
</head>
<body>
    { $body }
</body>
</html>
